{% extends "layout.html" %}
{% block body %}
<br/>
<h1><strong> Chat Room </strong></h1>
<hr class="hr-tag-color"/>
<script type="text/javascript">
	$(document).ready(function(){
		var socket = io.connect('http://' + document.domain + ':' + location.port + '/test');
		socket.on('connect', function(){
			socket.send('User has connected!');
		});

		socket.on('message', function(msg){
			$("#messages").append('<li> >>> ' + msg + '</li>');
			console.log('Received messages');
		});

		$('#myMessage').keyup(function(event){
			if(event.keyCode == 13){
				$('#sendButton').click();
			}
		});

		$('#sendButton').on('click',function(){
			socket.send($('#myMessage').val());
			$('#myMessage').val('');
		});
	});
</script>

<style>
	.chat-background{
		background-color:#C1E4EC;
		margin-bottom:10px;
	}

    .chat-box {
        display: inline-block;
        color: #34495e;
        margin: 0 0 0 0;
    }
 
	.chat-box li {
	    display: table;
	    padding: 10px;
	    margin: 7px 10px;
	    font-size: 15px;
	    line-height: 25px;
	    background-color: #fff;
	 
	    -webkit-border-top-left-radius: 6px;
	    -webkit-border-top-right-radius: 6px;
	    -webkit-border-bottom-right-radius: 6px;
	    -webkit-border-bottom-left-radius: 6px;
	    -moz-border-radius-topleft: 6px;
	    -moz-border-radius-topright: 6px;
	    -moz-border-radius-bottomright: 6px;
	    -moz-border-radius-bottomleft: 6px;
	    border-top-left-radius: 6px;
	    border-top-right-radius: 6px;
	    border-bottom-right-radius: 6px;
	    border-bottom-left-radius: 6px;
	}
</style>
<!--
<script type="text/javascript">
$(document).ready(function(){
    var socket = io.connect('http://' + document.domain + ':' + location.port + '/test');
    socket.on('my response', function(msg) {
        $('#log').append('<p>Received: ' + msg.data + '</p>');
    });
    $('form#emit').submit(function(event) {
        socket.emit('my event', {data: $('#emit_data').val()});
        return false;
    });
    $('form#broadcast').submit(function(event) {
        socket.emit('my broadcast event', {data: $('#broadcast_data').val()});
        return false;
    });
});
</script>
-->
<div class="chat-background">
	<div id="messages" class="chat-box"></div>
</div>
<input type="text" size="30" id="myMessage">
<button id="sendButton"> 입력 </button>
{% endblock %}