<!doctype html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Studio :D</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" type="text/css" href="../static/content/bootstrap.min.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="../static/content/site.css" />
  <!--<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">-->
  <script src="../static/scripts/modernizr-2.6.2.js"></script>

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='override.css') }}">
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ url_for('front') }}">bootstrap!!</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">홈으로</a></li>
          <li><a href="#about">부트스트랩이란</a></li>
          <li><a href="#contact">문의하기</a></li>
          {% if not session.logged_in %}
          <li><a href="{{ url_for('signin') }}">Sign In</a></li>
          <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
          {% else %}
          <li><a href="{{ url_for('signout') }}">Sign Out</a></li>
          <li><a href="{{ url_for('mypage') }}">My Page</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
  <div class="container body-content">
    {% for message in get_flashed_messages() %}
      <br/>
      <div class="alert alert-info alert-dismissable">
        <a herf="#" class="close" data-dismiss="alert" aria-label="close">x</a>
        {{ message }}
      </div>
    {% endfor %}
    {% block body %}{% endblock %}
    <hr/>
    <footer>
      <p>&copy; {{ year }} - My Flask Application</p>
    </footer>
  </div>
  <script src="../static/scripts/jquery-1.10.2.js"></script>
  <script src="../static/scripts/bootstrap.js"></script>
  <script src="../static/scripts/respond.js"></script>
</body>
</html>